/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {display: none;}
#primaryNav {display: flex;}
nav {
    ul li a {
        border: none;
        font-size: 1rem;
        padding: .5rem 1.2rem;
        transition: background 0.5s linear;
    }
    ul li a:hover {
        background-color: $primaryColor;
        color: white;
    }
}//end nav

.allcards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;

}